body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #393E46;
}
.satu{
    background-color: #3879db;
    color: white;
}
.dua{
    background-color: #7bbaee;
    color: white;
}
.foto{
    width:250px;

}
@media (max-width:1115px){
    .overflow{
        overflow:scroll;
    }
}
       
    