body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #393E46;
    overflow: hidden;
}

.name {
    position: absolute;
    margin: 100px 0 0 210px; 
    padding: 5px; 
    color: #fff;
    background: black;
    border-radius: 10px;
}

.img .shape {
    position: absolute;
    width: 500px;
    height: 500px;
    background: #9ADCFF;
    z-index: -1;
    margin: 100px 0 0 100px;
    border-radius: 50%;
}

.img .aoel {
    margin: 0 0 0 190px;
    height: 100%;
}

.ket {
    position: absolute;
    top: 70%;
    font-size: 18px;
    color: #fff;
    margin: 0 10px 0 50%;
}

.ket button {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.ket button:hover {
    border: 5px solid #9ADCFF;
}